@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');


.App {
    background: #23252C;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* style the header */
.header img {
    width: 317px;
    height: 317px;
    left: 116px;
    top: 44px;
    border-radius: 10px 10px 0px 0px;
}

/* style the main section */
.main {
    width: 317px;
    height: 399px;
    left: 116px;
    top: 361px;
    background: #1A1B21;
}

h1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    color: #FFFFFF;

}

h3 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12.8px;
    line-height: 15px;
    text-align: center;
    color: #F3BF99;
}

.website {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 150%;
    /* identical to box height, or 15px */
    text-align: center;
    color: #F5F5F5;
    text-decoration: none;

}


/* style the footer */
.footer {
    width: 317px;
    height: 64px;
    left: 116px;
    top: 760px;
    background: #161619;
    border-radius: 0px 0px 10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

li{
    list-style: none;
    padding: 0 24px 0 0;
}

.twitter {
    padding-right: 0;
}